body {
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background: #e3dede;
  background-image: url('mountaion.jpg');
  background-repeat: no-repeat;
  background-size: auto;
  padding: 20px 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 400px;
  width: 100%;
}

h1 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #582525;
}

h2 {
  font-size: 16px;
  margin: 10px 0 20px;
  color: #232323;
}

.tray {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

button {
  background-color: orange;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: plum
}

i {
  font-size: 20px;
  color: #555;
  cursor: pointer;
  transition: color 0.3s ease;
}
i .fa-twitter:hover{
  background-color: #1DA1F2;
}


i:hover {
  color:gold
}